{% extends 'base.html' %} {% block body %}
<div style="display: flex; justify-content: space-between; padding: 5px 10px">
  <div class="">
    <div class="container py-3">
      <div class="row">
        <!--  -->

        {% for i in files %}
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <img
              src="{{i.file.url}}"
              class="card-img-top"
              alt="image of {{i.filetitle}}"
            />
            <div class="card-body">
              <h5 class="card-title">{{i.filetitle}}</h5>
              {% comment %}
              <a
                href="{{i.file.url}}"
                download="{{i.file}}"
                class="btn btn-outline-primary"
                >Download File
              </a>
              {% endcomment %} {% comment %}
              <a
                href="{% url 'delete_file' i.folder.id i.id %}"
                class="btn btn-outline-danger"
                >Delete</a
              >
              {% endcomment %}
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Select
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      href="{{i.file.url}}"
                      download="{{i.file}}"
                      class="dropdown-item"
                      >Download</a
                    >
                  </li>
                  <li>
                    <a
                      href="{% url 'delete_file' i.folder.id i.id %}"
                      class="dropdown-item"
                      >Delete</a
                    >
                  </li>
                  {% comment %}
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                  {% endcomment %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <!--  -->
      </div>
    </div>
  </div>

  <div class="">
    <div class="container py-3">
      <div class="row">
        <!--  -->
        {% for i in folder %}
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{i.folder_name}}</h5>
              <a href="{% url 'folder' i.id %}" class="btn btn-outline-primary"
                >Go to Folder
              </a>

              <a
                href="{% url 'delete_folder' i.id %}"
                class="btn btn-outline-danger"
                >Delete
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!--  -->
      </div>
    </div>
  </div>

  <div class="">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
>
      Upload File
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="{% url 'folder' folderid %}"
              method="POST"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="mb-3">
                {% comment %}
                <label for="exampleFormControlInput1" class="form-label"
                  >Upload</label
                >
                {% endcomment %}
                <input
                  type="file"
                  class="form-control"
                  id="exampleFormControlInput1"
                  name="file"
                />
                <label for="exampleFormControlInput1" class="form-label"
                  >File Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  name="filetitle"
                />
                <button class="btn btn-outline-success my-3">Upload</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-outline-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal1"
  >
    Create a Folder
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal1"
    tabindex="-1"
    aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Create a Folder</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'addfolder' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlInput2" class="form-label"
                >Folder Name</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput2"
                name="folder_name"
              />
              {% comment %} <input type='hidden' name='current' value={{folder.id}}/> {% endcomment %}

              <button class="btn btn-outline-success my-3">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
