{% extends 'base.html' %} 
{% block title %}Home{% endblock title %}
{% block body %}



    <div style="display: flex; padding: 10px 20px; justify-content: space-between">
  <div class="">
    <div class="container py-3">
      <div class="row">
        <!--  -->
        {% for i in folder %}
        <div class="col-sm">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{i.folder_name}}</h5>
              <a href="{% url 'folder' i.id %}" class="btn btn-outline-primary"
                >Go Folder
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!--  -->
      </div>
    </div>
  </div>
  
  <div class="">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Create a Folder
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a Folder</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'addfolder' %}" method="POST">
            {% csrf_token %}
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Folder Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  name="folder_name"
                />
                
                <button class="btn btn-outline-success my-3">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // Hide messages after 5 seconds
  
</script>
{% endblock body %}